# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

*.node_modules/

gi
# Optional REPL history
.node_repl_history

# OSX folder attributes
.DS_Store

# Files that might appear in the root of a project
*.log
*.log.*
npm-debug.log*

# Environment Variables
.env

# Ignore certain lock files
package-lock.json

# Production build files
/client/build/
/server/build/
/dist/
/out/

