@import '../../breakpoints';

.radioContainer {
  display: inline-block;
  right: 12vw;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  input {
    height: 30px;
    width: 30px;
    color: blueviolet;
  }
}

.radioLabel {
  position: relative;
  bottom: 10px;
  align-items: center;
  justify-content: center;
}

@include minDesktop {
  .radioContainer {
    right: 9vw;
    font-size: 0.8em;

    input {
      height: 20px;
      width: 20px;
    }
  }
}
