@import '../../breakpoints';

.radioContainer {
	display: flex;
	position: relative;
	flex-direction: row;
	font-size: 16px;
	user-select: none;
	align-items: center;

	input {
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
}

input:checked ~ .radioLabel {
	accent-color: #000;
}

input:has {
	border: 1px solid #000;
}

.radioLabel {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

@include minDesktop {
	.radioContainer {
		font-size: 0.8em;

		input {
			height: 20px;
			width: 20px;
		}
	}
}
