.modalContainer {
  display: block;
  position: relative;
}

.modalWrapper {
  position: absolute;
  flex-direction: column;
  width: 100%;
}

h3 {
  font-weight: 700;
  font-size: 25px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

 h2, h3, h4, h5, h6 {
  text-align: left;
}


.uploadBtn {
  display: flex;
  position: relative;
  background-color: hsl(222.65deg 89.25% 18.24%);
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 5%;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

hr {
  border: 0.5px solid hsl(208.7deg 16.55% 72.75%);
  width: 25%;
}

.modalBody {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.modalBodyRight {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 45%;
  height: 750px;
  left: 56rem;
  border: 1px solid red;
}

#greenFonts {
  color: rgb(5, 231, 5);
}

.modalBodyLeft {
  width: 45%;
  height: 750px;
  border: 1px solid black;
}

.modalFooterText {
  position: absolute;
  bottom: 25px;
  font-size: 20px;
}

.modalFooter {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 10rem;
  left: 0rem;
  width: 100%;
}

.footerBtn {
  display: flex;
  position: relative;
  gap: 1rem;
}
