@import '../breakpoints';

.centerHeader {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	text-align: left;
	font-weight: 300;
}

label {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: left;
	font-weight: 300;
	gap: 1rem;
}


select {
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 1px;
	text-align: center;
	border-radius: 10px;
}

@include minDesktop {
	option,
	select {
		position: relative;
		top: 0.5vh;
		width: 8vw;
		font-size: 0.9em;
	}

	#client {
		font-size: 0.8em;
	}

	.testCenterSelection {
		font-size: 0.8em;
	}
}
