@import '../breakpoints';

.centerHeader {
	position: relative;
	top: 10px;
	margin-bottom: -10px;
	text-align: left;
	font-weight: 300;
}

option,
select {
	position: relative;
	bottom: 1px;
	width: 8vw;
	text-align: center;
	border-radius: 10px;
}

@include minDesktop {
	option,
	select {
		position: relative;
		top: 0.5vh;
		width: 10vw;
		font-size: 0.9em;
	}

	#client {
		font-size: 0.8em;
	}

	.testCenterSelection {
		font-size: 0.8em;
	}
}
