.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.264);
}

.modal-box {
  display: block;
  background: white;
  width: 70%;
  height: 90%;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.357);
}
